<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<content>
    <div class="title">
        <div class="title__icon"></div>
        <h1 class="title__text"><%= htmlWebpackPlugin.options.title %></h1>
    </div>
    <div id="application">
        <alerts></alerts>
    </div>
</content>
</body>
</html>